---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";

const projects = [
	{
        name: "nonovel.io",
        description: "A website for reading public domain books with social-media-like features.",
        link: "https://nonovel.io",
		links: [{ name: "retrospective", url: "/posts/nonovel-io/" }],
		emoji: "📚"
    },
    {
        name: "tldw.info",
        description: "Too long, didn't watch. Summarize YouTube videos from their public transcript using generative AI.",
        link: "https://tldw.info",
		links: [{ name: "repository", url: "https://github.com/zepez/tldw.info" }],
		emoji: "📹"
    },
    {
        name: "instanticon.app",
        description: "A simple web app for generating favicons and app icons that can be exported as an SVG or PNG.",
        link: "https://instanticon.app",
        links: [{ name: "repository", url: "https://github.com/zepez/instanticon.app" }],
		emoji: "🎨"
    },
	{
        name: "zepez.dev",
        description: "This site. As simple as possible, theme modified from <a class='link' href='https://github.com/chrismwilliams/astro-theme-cactus' target='_blank'>@chrismwilliams/astro-theme-cactus</a>",
        link: "https://zepez.dev",
		links: [{ name: "repository", url: "https://github.com/zepez/zepez.dev" }],
		emoji: "📍"
    },
    {
        name: "nashandpine.com",
        description: "<i>Very simple</i> brochure site. The site is no longer maintained, but a mirror is available.",
        link: "https://nashandpine.zepez.dev",
		links: [{ name: "repository", url: "https://github.com/zepez/nashandpine.com" }],
		emoji: "📰"
    },
    {
        name: "wilsonrotary.com",
        description: "Contracted site built with Wordpress for the Wilson, North Carolina Rotary Club.",
        link: "https://wilsonrotary.com",
		links: [],
		emoji: "⚙️"
    },
    {
        name: "haulinhatchets.com",
        description: "Mobile axe throwing trailer based out of Wilson, North Carolina. Redesign pending™️",
        link: "https://haulinhatchets.com",
		links: [{ name: "repository", url: "https://github.com/zepez/haulinhatchets.com" }],
		emoji: "🪓"
    },
]
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Alexander Zepezauer</h1>
		<p class="mb-4">
			Hey, I'm Alex. I make websites.  
		</p>
		<ul class="flex gap-4">
			<SocialList />
		</ul>
	</section>

	<section aria-label="Project list">
        <h2 class="title mb-4 text-xl mt-16">Projects</h2>
		<p class="mb-12">
			The projects listed here are still publicly available. Others have since been retired or transitioned and I am not able to maintain a public mirror.
		</p>

		<ul>
			{projects.map((project) => (
				<li class="mb-12 flex gap-8">
					<div class="flex flex-shrink-0 items-center justify-center h-24 w-24 text-4xl bg-link/20 rounded-md">{project.emoji}</div>

					<div>
						<p class="pb-4">
							<a title={project.name} href={project.link} class="link" target="_blank"><b class="text-accent">{project.name}</b></a> - <Fragment set:html={project.description} />
						</p>

						{project.links.map((link) => (
							<span>
								<a title={`${project.name} ${link.name}`} href={link.url} class="link" target="_blank">{link.name}</a>
							</span>
						))}
					</div>
				</li>
			))}
		</ul>
    </section>
</PageLayout>
